$font-title-size = .16rem
$color = #555
$titleColor = #333333
$originColor = coral
$grayColor = grey
$blueColor = #4185F4
$blueBgColor = #b3d1ff
$blueBgColor2 = #3385ff
$redColor = #FE5341
$bgGrayColor = #f0f0f5
$iconGrayColor = #d9d9d9
$fontWhitrColor = #FFFFFF;
$fontWhitrGrayColor = #f2f2f2;
$fontBlackColor = #333333;
$borderGrayColor =  #bfbfbf;
